@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    /* margin: 0 auto; */
    /* width: 0; */
}

header {
    width: 100%;
    margin: 0 auto;
}


nav {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    /* --line-height: 100px; */
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.9; */
}


/* trái */
.nav-left {
    /* background-color: rgb(195, 133, 18); */
    display: flex;
    align-items: center;
    width: 25%;

}

.nav-left img {
    max-width: 50px;
    margin-left: 20px;
    margin-right: 10px;

}

.nav-left i {
    font-weight: bold;
    /* position: absolute; */
    /* top: 50%; */
    /* right: 6%; */
    /* transform: translateY(-50%); */
}


.nav-mid {
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

}

.nav-mid ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-mid ul li {
    /* display: inline-block; */
    /* min-height: 100px; */
    /* line-height: var(--line-height); */
}

.nav-mid ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}


.nav-mid ul li a:hover {
    color: red;
}


/* phải  */
.nav-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: rgb(30, 45, 44); */

}


.nav-right a {
    color: black;
    /* margin-left: 20px; */
    font-size: 20px;
}

.nav-right a:hover {
    color: red;
}

.nav-right-btn a {
    margin-right: 20px;
}

.nav-right-btn-search a {
    margin-right: 20px;
}

.nav-right-btn-bars {
    margin-right: 20px;
    display: none;
}

.nav-right-btn-bars i {
    font-size: 20px;
    color: black;
    margin-right: 20px;
}

.nav-right-btn-bars i:hover {
    color: red;
}



/* .bannerrrrrrrrrrrrrrrrrrrrrrrr */

.banner {
    margin-top: 100px;
    width: 100%;
    min-height: 300px;
    background-color: #dedddd;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title-product-main {
    /* padding-bottom: 120px; */
    margin: 0 auto;
    text-align: center;
    /* line-height: 60px; */
    width: 80%;
    min-height: 150px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.title-product-main h1 {
    font-size: 70px;
    padding-top: 20px;
}

.title-product-main span {
    font-weight: bold;
}



/* wrapper-content-productt */
main {
    width: 100%;
    min-height: 1800px;
    /* background-color: blueviolet; */
}

.wrapper-content-product {
    width: 80%;
    min-height: 1800px;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-between;
}

.content-product-left {
    width: 20%;
    height: 1700px;
    /* background-color: rgb(214, 148, 67); */
}


/* lefttttttttttttttttt */
.detail-product-left {
    width: 300px;
    height: 550px;
    /* background-color: rgb(103, 98, 98); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Top-rated-products {
    width: 300px;
    height: 90px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.detail-product-left span {
    margin-top: 10px;
    font-weight: bold;
}

.img-Top-rated {
    width: 90px;
    height: 90px;
    /* background-color: rgb(222, 95, 95); */
}

.content-Top-rated {
    width: 190px;
    height: 90px;
    /* background-color: rgb(222, 95, 95); */
}

.img-Top-rated img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-Top-rated a {
    text-decoration: none;
    color: black;
}

.content-Top-rated a:hover {
    color: rgb(179, 35, 35);
}

.content-Top-rated p {
    font-size: 15px;
}

.content-Top-rated img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90px;
}

.more-Top-rated {
    width: 300px;
    height: 540px;
    background-color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-more-Top {
    width: 200px;
    height: 450px;
    /* background-color: rgb(115, 106, 106); */
}

.content-more-Top h2 {
    color: white;
    font-size: 30px;
}

.content-more-Top p {
    color: white;
    margin-top: 25px;
}

/* rightttttttttttttttttttttttt */
.content-product-right {
    width: 75%;
    min-height: 1490px;
    /* background-color: rgb(50, 122, 64); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .chose-product-right {
    width: 800px;
    height: 70px;
    padding-top: 10px;
    background-color: #cb4146;
} */

/* .chose-product-right select {
    font-size: 15px;
    padding: 10px;
} */


.wrapper-detail-product-right {
    width: 100%;
    min-height: 1400px;
    /* background-color: rgb(86, 54, 16); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.detail-product-right {
    width: 27%;
    min-height: 400px;
    /* background-color: antiquewhite; */
}

.img-product-right {
    width: 100%;
    /* min-height: 240px; */
}

.img-product-right img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.img-star-product-right img {
    /* font-size: 90px; */
    width: 50%;
    margin-top: 20px;
}

.content-product-right h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail-product-right p {
    margin-bottom: 10px;
    font-weight: bold;
}

.detail-product-right p sup {
    font-weight: normal;
    opacity: 0.8;
}

.content-product-right input {
    padding: 12px;
    font-weight: bold;
    border: none;
    background-color: #e8363c;
    color: white;

}

.content-product-right input:hover {
    background-color: #cb4146;
}







/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

footer {
    width: 100%;
    margin: 0 auto;
    min-height: 740px;
    /* background-color: #ffffff; */

}

.wrapper-footer1 {
    width: 80%;
    margin: 0 auto;
    min-height: 450px;
    /* background-color: rgb(158, 156, 151); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper-footer2 {
    width: 80%;
    min-height: 290px;
    margin: 0 auto;
    /* background-color: rgb(49, 103, 179); */
}

.content-footer {
    width: 100%;
    min-height: 280px;
    /* background-color: rgb(83, 75, 63); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-content-footer {
    width: 20%;
    min-height: 280px;
    /* background-color: rgb(168, 197, 187); */
    /* margin-left: 1px; */
}


.detail-content-footer h3 {
    margin-bottom: 30px;
}

.detail-content-footer p {
    margin-bottom: 12px;
}

.logo-footer {
    min-height: 170px;
    /* background-color: #E8363C; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgb(238, 236, 236);
    border-bottom: 0.5px solid rgb(238, 236, 236);


}

.logo-footer img {
    /* margin-top: 30px; */
    /* line-height: 120px; */
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.logo-footer span {
    font-weight: bold;
}

.license {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* line-height: 40px; */
    min-height: 120px;
    /* background-color: rgb(113, 75, 24); */
}








/* overplayyyyyyyyyyyyyyyyy */
.nav-right-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.5s;
}

/* nav mobileeeeeeeeeeeeeee */
.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: rgb(63, 62, 60);
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav-mobile-list {
    margin: 30px;
    list-style: none;

}

.nav-mobile-list li {
    margin-top: 20px;
}

.nav-mobile-link {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-mobile-link:hover {
    color: red;
}

.nav-mobile-close {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-mobile-close:hover {
    color: red;
}

/* check inputt none  */
.nav-input-css {
    display: none;
}

.nav-input-css:checked~.nav-right-overlay {
    display: block;
}

.nav-input-css:checked~.nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}



/* animation  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}







/* reponsiveeeeeee nav */

/* TABLET AND MOBILE  */
@media only screen and (max-width: 1040px) {
    .nav-right-btn-bars {
        display: block;
    }

    .nav-right-btn-search {
        display: none;
    }

    .nav-mid {
        display: none;
    }
}


/* mobile : width < 740px */
@media only screen and (max-width: 740px) {
    .nav-mid {
        display: none;
    }

    .nav-left {
        width: 50%;
    }

    .nav-right {
        width: 50%;
    }

    /* leftttttttttttttttttt */
    .content-product-left {
        display: none;
    }

    /* rightttttttttttttttttt */
    .content-product-right {
        width: 100%;
    }

    .detail-product-right {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    /* .footerrrrrrrrrrr */

    footer {
        margin-top: 50px;
    }

    .detail-content-footer {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }



}