@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
}


nav {
    border-bottom: 1px solid rgb(233, 233, 233);
    width: 100%;
    margin: 0 auto;
    height: 100px;
    /* --line-height: 100px; */
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
}


/* trái */
.nav-left {
    /* background-color: rgb(195, 133, 18); */
    display: flex;
    align-items: center;
    width: 25%;

}

.nav-left img {
    max-width: 50px;
    margin-left: 20px;
    margin-right: 10px;

}

.nav-left i {
    font-weight: bold;
}


/* giữa  */

.nav-mid {
    width: 50%;
    display: flex;

}

.nav-mid ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-mid ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.nav-mid ul li a:hover {
    color: red;
}

.nav-mid ul li:hover .nav-mid_sub{
    display: block;
}
.nav-mid__list{
    position: relative;
}
ul.nav-mid_sub{
    display: none;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 10px 2px #d2d2d2;
    left: 0%;
    margin-top: 5px;
    position: absolute;
}
ul.nav-mid_sub li {
    background-color: #efefef;
    padding: 10px 0px;
}
ul.nav-mid_sub li a {
    padding: 10px;

}


/* phải  */
.nav-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-right ul{
    display: flex;
}


ul.nav-right_sub{
    margin-top: 10px;
    display: none;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 10px 2px #d2d2d2;
    background-color: #efefef;
    left: 0%;
    margin-top: 10px;
    position: absolute;
}


.nav-right ul li:hover .nav-right_sub{
    display: block;
}

.nav-right__list{
    position: relative;
}
.nav-right__list  li {
    padding: 5px;
    width: 140px;
}
.nav-right__list  li a{
    font-size: 16px;
}

.nav-right ul li a {
    text-decoration: none;
    /* font-size: 16px; */
    font-weight: bold;
    color: black;
}

.nav-right a {
    color: black;
    /* margin-left: 20px; */
    font-size: 20px;
}

.nav-right a:hover {
    color: red;
}

.nav-right a {
    margin-right: 20px;
}
.nav-right ul li{
    list-style: none;
}

.nav-right-search a {
    margin-right: 20px;
}




/* giỏ hàng  */
  /* css cho nó qua phảiiiiiiiiiiiiiiiiiiiiii */
  #showcart {
    width: 40%;
    position: fixed;
    z-index: 3;
    /* border-radius: 10px; */
    right: 20px;
    top: 100px;
    /* height: 60px; */
    padding: 8px;
    background-color: white;
    border: 1px solid #dbd9d9;
    overflow-y: scroll;
  }

  #xoatatca {
    float: right;
    width: 15%;
    padding: 12px;
    font-weight: bold;
    border: none;
    background-color: #e8363c;
    color: white;
  }

  #xoatatca:hover {
    background-color: rgb(206, 42, 42);
  }


  #showcart a {
    color: black;
    font-weight: bold;
  }

  #showcart a:hover {
    color: rgb(206, 54, 54);
  }


  /* giỏ hàng */

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    padding: 10px;
  }

  th,
  td {
    border: 1px #dbdada solid;
    text-align: center;
  }

  td div {
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
  }

  th div {
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: right;
    font-size: 1.5rem;
  }

  td img {
    width: 100px;
  }


/* Bannerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.banner {
    width: 100%;
    margin-top: 100px;
    /* height: 500px; */
    position: relative;
}



.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1 {
    width: 100%;
    /* height: 500px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: rgb(0, 0, 0);
}

.wrapprt_section1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: rgb(59, 59, 58); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.section1-detail {
    width: 25%;
    text-align: center;
    /* background-color: #E8363C; */
}

.section-1_icon {
    color: white;
    font-size: 45px;
}

.section-1_title {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;

}


.section-1_content {
    color: white;
    opacity: 0.7;
}



/* Young's favourite  */

.new-arrivals {
    /* background-color: #a59393; */
    margin: 0 auto;
    width: 80%;
    min-height: 680px;
}

.title-new-arrivals {
    align-items: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.title-arv-left span {
    font-weight: bold;
    font-size: 30px;
}



.title-arv-right button {
    color: black;
    background-color: white;
    border: 1.5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    font-size: 12px;
}

.title-arv-right button:hover {
    background-color: red;
    border: none;
    color: white;
}


/* .productttttttt */
.view-product-arrivals {
    /* margin: 0 auto; */
    width: 100%;
    flex-wrap: wrap;
    min-height: 500px;
    /* background-color: #debbbb; */
    display: flex;
    justify-content: space-between;
}


.product-arrivals {
    width: 22%;
    margin-bottom: 20px;
}


.img-product {
    overflow: hidden;
    /* width: 250px; */
    height: 280px;
}

.img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
}

.img-product img:hover {
    transform: scale(1.1);

}


.img-review {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-product {
    margin-top: 10px;
    margin-bottom: 10px;

}

.title-prodcuct a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.rice-product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rice-product sup {
    opacity: 0.8;
}

.discount-rice {
    opacity: 0.8;
}

.btn-prodcuct {
    border: none;
    padding: 10px;
    background-color: #E8363C;
    color: white;
    font-weight: bold;
    /* font-size: 15px; */
    /* width: 120px; */
}

.btn-prodcuct:hover {
    background-color: #bc363b;
}


/* more productssssssss */
.more-products {
    width: 100%;
    min-height: 720px;
    background-color: rgb(1, 1, 1);
    display: flex;
    align-items: center;
    margin: 70px 0px 0px 0px;

}

.more-products-wrapper {
    padding-top: 130px;
    padding-bottom: 130px;
    margin: 0 auto;
    width: 80%;
    /* height: 500px; */
    /* background-color: rgb(37, 96, 151); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.detail-product-more {
    width: 30%;
    height: 500px;
    background-color: rgb(207, 122, 18);
}

.product1 {
    background-image: url(../img/Jacket.webp);
    background-size: cover;
}

.product2 {
    background-image: url(../img/Sweater.webp);
    background-size: cover;
}

.product3 {
    background-image: url(../img/Accessories.webp);
    background-size: cover;
}

.btn-product-more {
    width: 87%;
    height: 150px;
    position: relative;
    top: 350px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}

.btn-product-more:hover {
    background-color: red;
}

.detail-product-more a {

    text-decoration: none;
}

.name {
    font-size: 30px;
    font-weight: bold;
}




/* New prorduct sửaaaaaaaaaaa */
.container {
    width: 100%;
    margin: 0 auto;

}

.new-Favourite {
    /* background-color: #4f2e2e; */
    margin: 0 auto;
    width: 80%;
    /* min-height: 500px; */
}

.title-new-Favourite {
    align-items: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
}


.title-Favourite-left p {
    opacity: 0.7;
    margin-bottom: 15px;
}

.title-Favourite-left span {
    font-weight: bold;
    font-size: 30px;
}

/* .productttttttt */
.view-product-Favourite {
    /* margin: 0 auto; */
    width: 100%;
    min-height: 240px;
    /* background-color: #350808; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-Favourite {
    width: 30.333%;
    max-height: 230px;
}

.img-product-Favourite {
    width: 100%;
    height: 100%;
}

.img-product-Favourite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: ease-in-out 0.5s;
}

.img-product-Favourite img:hover {
    transform: scale(1.1);
}





/* Popular Post */
.Popular-Post {

    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.title-Popular-Post {
    display: flex;
    align-items: center;
    height: 110px;
}

.title-Popular-Post h1 {
    font-size: 30px;
    font-weight: bold;
}

.view-Popular-Post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 520px;

}

.content-Popular-Post {
    width: 30%;
    /* height: 520px; */

}

.content-Popular-img {
    width: 100%;
    /* height: 250px; */
}

.content-Popular-Post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-Popular-Post a {
    text-decoration: none;
    color: black;
}

.content-Popular-Post a:hover {
    color: rgb(174, 68, 68);
}

.content-Popular-Post h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-Popular-Post p {
    margin-bottom: 15px;
}



/* Newsletter-updates */
.Newsletter-updates {
    width: 80%;
    min-height: 580px;
    margin: 0 auto;
    /* background-color: rgb(168, 150, 126); */
    display: flex;
    justify-content: center;
    align-items: center;


}



.wrapper-Newsletter {
    width: 100%;
    min-height: 400px;
    background-color: rgb(52, 29, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Subscribe.png);
    background-size: cover;
}

.content-Newsletter {
    width: 60%;
    min-height: 90px;
    /* margin: 0 auto; */
    /* background-color: rgb(103, 32, 8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-Newsletter {
    width: 100%;
    display: flex;
}

.row1 h1 {
    color: white;
    font-size: 37px;
}

.row2 {
    /* width: 100%; */
    text-align: center;
    color: white;
    font-size: 20px;

}

.btn-Newsletter1 {
    width: 70%;
    padding: 15px;
    font-size: 15px;
}

.btn-Newsletter2 {
    width: 30%;
    margin-left: 5px;
    padding: 15px;
    font-size: 15px;
    background-color: #E8363C;
    color: white;
    border: none;
}

.btn-Newsletter2:hover {
    background-color: #bc363b;
}




/* introducationnn */
.space-row {
    /* height: 60px; */
}

.product-introducation {
    width: 100%;
    min-height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #a59393; */
}

.introducation-content {
    /* background-color: #a59393; */
    width: 80%;
    min-height: 485px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introducation-detail {
    width: 22%;
    min-height: 475px;
    /* background-color: rgb(67, 67, 132); */
}


.img-introducation-detail {
    overflow: hidden;
    height: 300px;
    /* background-color: aqua; */
}





.introducation-detail h3 {
    font-weight: bold;
    /* font-size: 40px; */
    color: white;
}

.img-introducation-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
}

.img-introducation-detail img:hover {
    transform: scale(1.1);
}



.img2-introducation {
    margin-top: 20px;
    margin-bottom: 10px;

    width: 45%;
}

.introducation-detail-rice {
    margin-top: 10px;
    margin-bottom: 20px;

    font-weight: bold;
    color: white;
    opacity: 0.6;

}

.introducation-detail-rice sup del {
    font-weight: normal;
}

.introducation-detail input {
    background-color: #E8363C;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.introducation-detail input:hover {
    background-color: #bc363b;
}

.detail4 {
    margin-left: 30px;
    width: 26%;
}

.detail4 h3 {
    font-weight: bold;
    font-size: 28px;
    color: #E8363C;
}

.detail4 h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detail4 p {
    color: white;
    line-height: 30px;
    margin-bottom: 24px;
}

.detail4 input {
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.detail4 input:hover {
    border: none;
    background-color: #bc363b;
}




/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

footer {
    width: 100%;
    min-height: 740px;
    /* background-color: #d1d1d1; */

}

.wrapper-footer1 {
    width: 80%;
    min-height: 450px;
    margin: 0 auto;
    /* background-color: rgb(158, 156, 151); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper-footer2 {
    width: 80%;
    min-height: 290px;
    margin: 0 auto;
    /* background-color: rgb(49, 103, 179); */
}

.content-footer {
    flex-wrap: wrap;
    width: 100%;
    min-height: 280px;
    margin: 0 auto;
    /* background-color: rgb(83, 75, 63); */
    display: flex;
    justify-content: space-between;
}

.detail-content-footer {
    width: 20%;
    min-height: 280px;
    /* background-color: rgb(168, 197, 187); */
    margin-left: 1px;
}


.detail-content-footer h3 {
    margin-bottom: 30px;
}

.detail-content-footer p {
    margin-bottom: 12px;
}

.logo-footer {
    min-height: 170px;
    /* background-color: #E8363C; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgb(238, 236, 236);
    border-bottom: 0.5px solid rgb(238, 236, 236);


}

.logo-footer img {
    /* margin-top: 30px; */
    /* line-height: 120px; */
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.logo-footer span {
    font-weight: bold;
}

.license {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* line-height: 40px; */
    min-height: 120px;
    /* background-color: rgb(113, 75, 24); */
}






/* overplay */
.nav-right-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.5s;
}

/* nav mobileeeeeeeeeeeeeee */
.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: rgb(63, 62, 60);
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav-mobile-list {
    margin: 30px;
    list-style: none;

}

.nav-mobile-list li {
    margin-top: 20px;
}

.nav-mobile-link {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-mobile-link:hover {
    color: red;
}

.nav-mobile-close {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav-mobile-close:hover {
    color: red;
}

/* check inputt none  */
.nav-input-css {
    display: none;
}

.nav-input-css:checked~.nav-right-overlay {
    display: block;
}

.nav-input-css:checked~.nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}



/* animation  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

